/* Google fonts link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    color: #fff;
}
:root{
    --primary:#1dc5a4;
    --bg: radial-gradient(142% 91% at 83% 7%, #041313FF 1%, #FF000000 99%),
    radial-gradient(142% 91% at 152% 84%, #1B4E3EFF 0%, #070415FF 100%);
}          

.container{
    position: relative;
    width: 100%;
    min-height:100vh;
    padding: 0 5rem;
    overflow: hidden;
    background: var(--bg);
}

nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 100px;
    line-height: 100px;
    z-index: 1111;
}
#logo{
    height: 100%;
    text-decoration: none;
}
   
ul{
    display: flex;
}
ul li{
    list-style: none;
    margin: 0 20px;
}
ul li a{
    display:  block;
    text-decoration: none;
    font-size: 1.3rem;
    letter-spacing: 2px;
    text-wrap: nowrap;
}
ul li:hover a,
 .buying i:hover{
    color: var(--primary);

}

/* for icons */
.buying{
    font-size: 1.8rem;
}
.buying i{
    margin:  0 10px;
}
/* for wrapper section */
.wrapper{
    position: relative;
    height: inherit;
    width:100%;
    display: flex;
    padding: 2rem;
}
.wrapper .cols{
   width: 50%; 
   display: flex;
   height: 80vh;
   flex-direction: column;
   justify-content: center;
}
.wrapper .cols .title{
    font-size:6rem ;
    font-weight: 600;
    text-wrap: nowrap;
}
.wrapper .cols .label{
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Ubuntu';
    color: var(--primary);
}

.wrapper .cols .desc{
margin-top: 0.5rem;
font-size: 1.1rem;
max-width: 35vw;
}

.price{
    position:  relative;
    margin-top: 3rem;
}
.price span{
    display:block;
    font-size: 3rem;
    font-weight: bolder;
    color: var(--primary);
}

.price button{
    background: #fff;
    color: var(--primary);
    border:  none;
    outline: none;
    border-radius: 50px;
    padding:  0.8em 1.2em;
    font-size: 1.2em;
}
.price button i{
    color:  var(--primary);
}
.price button:hover,
.price button:hover i{
    color: #fff;
    background: var(--primary);
    cursor: pointer;

}

.btn{
    margin-left: 1em;
}

/* for images */
.imagebox{
    position:relative;
    height: 100%;
    width: 100%;
    top: 100px;
    left: -80px;
    z-index: 1;
}

.imagebox img{
    position: absolute;
    height: inherit;
    top: 10px;
    width: inherit;
    object-fit: cover;
    scale: 0;
    filter: drop-shadow(0 20px 25px rgba(0,0,0,0.6));
    transform:  translate(0,0) scale(1.22) rotate(-20deg);
    transition: 0.3s ease-in;
    animation: animateShoes 4s ease-in infinite;
}

@keyframes animateShoes{
    50%{
        transform:  translate(20px, -30px) scale(1.15) rotate(-25deg);
    }
}

.image-cols{
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%; 
}

.image-cols .element{
    position: relative;
    background: url(img/justdoit.png);
    background-size: cover; 
    height: 98%; 
    width: 20rem; 
    scale: 1.2;
    filter: invert(1);
    opacity: 0.3;
    top: -6%;
    left: 58%;
    transform: translate(-50%, -50%);
}
.thumbnails{
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 5%;
    right: 10%;
    
    
}

.thumbnails span{
    position: relative;
    width: 220px;
    height: 150px;
    cursor: pointer;
    transition: 0.2s ease;
}
.thumbnails span:hover{
    scale: 1.1;
    filter:  drop-shadow(0 0 10px rgba(254,254,254,0.4));
}
.thumbnails span img{
    position:  absolute;
    height: inherit;
    width: inherit;
    object-fit: cover;
    
}

.social-links{
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 5%;
    bottom: 20%;
}

.social-links i{
    font-size: 3rem;
    margin: 0.4em 0;
    opacity: 0.8;
}
.social-links i:hover{
    color: var(--primary);
    cursor: pointer;
    scale: 1.2;
    transition: 0.2s ease;
}

/* for js */
.imagebox .image.active{
scale: 1;
}

.activeRoot{
    --primary:#1dc5a4;
    --bg: radial-gradient(142% 91% at 83% 7%, #041313FF 1%, #FF000000 99%),
    radial-gradient(142% 91% at 152% 84%, #1B4E3EFF 0%, #070415FF 100%);

}
.activeRoot1{
    --primary:#e75272bd ;
    --bg: radial-gradient(142% 91% at 83% 7%, rgb(19, 17, 4) 1%, #43172900 99%),
    radial-gradient(142% 91% at 152% 84%, rgb(107, 26, 47) 0%, rgb(23, 3, 11) 100%);
}

.activeRoot2{
    --primary:#f35b2e;
    --bg: radial-gradient(142% 91% at 83% 7%, #041313FF 1%, #780b1800 99%),
    radial-gradient(142% 91% at 152% 84%, rgb(78, 27, 27) 0%, rgb(21, 4, 5) 100%);

}